<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeContent %></p>

<form action="/" method="post">
  <button type="submit">Compose</button>
</form>

<% posts.forEach((post) => { %>
  <h1><%= post.title %></h1>
  <p>
    <%= post.body.substring(0,100)+' ...' %>
    <a href="/posts/<%= post.title %>">Read More</a>
  </p>

<% }); %>


<%- include("partials/footer") -%>
